<div class="container mt-3" >
  <div class="row">
    <div class="col">
      <p class="h3 text-danger fw-bold">NG Contacts
        <a routerLink="/contacts/add" class="btn btn-danger btn-sn">
        <i class="fa fa-plus-circle"></i>New</a>
      </p>
      <p class="fst-italic">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
       Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    <form >
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search User">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-outline-dark" vaalue="Search">
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
<!--cards-->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card list-group-item-danger">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-4">
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="" class="contact-img">
            </div>
            <div class="col-sm-7">
              <ul class="list-group">
                <li class="list-group-item">Name:<span class="fw-bold"> Name</span></li>
                <li class="list-group-item">Email:<span class="fw-bold"> Email</span></li>
                <li class="list-group-item">Mobile:<span class="fw-bold"> Mobile</span></li>
              </ul>
            </div>
            <div class="col-sm-1">

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
