<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add the Contact</p>
      <p class="fst-italic">
        lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of with the release
          of Letraset sheets containing Lorem Ipsum passages,
        and met..", comes from a line in section 1.10.32.
      </p>
    </div>
  </div>
</div>

<!--loading-->
<div *ngIf="loading">
  <app-spinner></app-spinner>

</div>
<!--Error Message-->
<div *ngIf="!loading  && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">
              {{errorMessage}}
        </p>
      </div>
    </div>
  </div>

<!--contact form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <form (submit)="createSubmit()">
          <div class="mb-2">
            <input required="true" [(ngModel)]="contact.name" name="name" type="text" placeholder="Name" class="form-control" >
          </div>
          <div class="mb-2">
            <input required="true"
            [(ngModel)]="contact.photo"
            name="photo"
            type="text" placeholder="Photo Url" class="form-control" >
          </div>
          <div class="mb-2">
            <input required="true"
            [(ngModel)]="contact.email"
            name="email"
            type="email" placeholder="Email" class="form-control" >
          </div>
          <div class="mb-2">
            <input required="true"
            [(ngModel)]="contact.mobile"
            name="mobile"
            type="number" placeholder="Mobile" class="form-control" >
          </div>
          <div class="mb-2">
            <input required="true"
            [(ngModel)]="contact.company"
            name="company"

            type="text" placeholder="Company" class="form-control" >
          </div>
          <div class="mb-2">
            <input required="true"
            [(ngModel)]="contact.title"
            name="title"
            type="text" placeholder="Title" class="form-control" >
          </div>
          <div class="mb-2">
            <select required="true"
            [(ngModel)]="contact.groupId"
            name="groupId"
            class="form-control" *ngIf="groups.length > 0">
              <option value="">Select a Group</option>
                <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
            </select>
            <div class="mb-2">
              <input type="submit" placeholder="Name"  value="Create" class="btn btn-danger" >
              <a routerLink="/" class="btn btn-dark ms-2" > Close </a>
            </div>
          </div>
        </form>
    </div>
    <div class="col-sm-4">
        <img [src]="contact.photo" alt="" class="contact-img">
    </div>
  </div>
</div>
