<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add Contact</p>
      <p class="fst-italic">
        lorem Ipsum is simply dummy text of the printing
        and typesetting industry. Lorem Ipsum has been the
         industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of with the release
          of Letraset sheets containing Lorem Ipsum passages,
        and met..", comes from a line in section 1.10.32.
      </p>
    </div>
  </div>
</div>
<!--contact form-->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <form>
          <div class="mb-2">
            <input type="text" placeholder="Name" class="form-control" >
          </div>
          <div class="mb-2">
            <input type="text" placeholder="Photo Url" class="form-control" >
          </div>
          <div class="mb-2">
            <input type="email" placeholder="Email" class="form-control" >
          </div>
          <div class="mb-2">
            <input type="number" placeholder="Mobile" class="form-control" >
          </div>
          <div class="mb-2">
            <input type="text" placeholder="Company" class="form-control" >
          </div>
          <div class="mb-2">
            <input type="text" placeholder="Title" class="form-control" >
          </div>
          <div class="mb-2">
            <select  class="form-control">
              <option value="">Select a Group</option>
            </select>
            <div class="mb-2">
              <input type="submit" placeholder="Name"  value="Create" class="btn btn-danger" >
              <a routerLink="/" class="btn btn-dark ms-2" > Close </a>
            </div>
          </div>
        </form>
    </div>
    <div class="col-sm-4">
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="" class="contact-img">
    </div>
  </div>
</div>
